<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Webinar18/src/sk/itvkurze/webinar18/neohraniceny_typ/ZolikTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="sk.itvkurze.webinar18.neohraniceny_typ.ZolikTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Webinar18"/>
</launchConfiguration>
